# Base requirements
transformers[tf,torch,sentencepiece,vision,optuna,sklearn,onnxruntime]==4.11.3
datasets[audio]==1.16.1
matplotlib
ipywidgets
umap-learn==0.5.1
bertviz==1.2.0
psutil
accelerate==0.5.1
gensim
scikit-learn